@import "/src/assets/css/common.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition: transform 200ms ease;

  @include media-breakpoint-down(xl) {
    gap: 6px;
  }

  &_typeForHeader {
    position: absolute;
    left: 2.5vw;

    @include media-breakpoint-down(xl) {
      // position: relative;
      // left: auto;
    }

    @include media-breakpoint-down(lg) {
      position: relative;
      left: auto;
    }
  }

  &:hover .titleDates {
    color: $primary-light-text-color;
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  color: $primary-light-text-color;
  font-size: 32px;
  text-transform: uppercase;
  transition: color 300ms ease;

  @include media-breakpoint-down(xl) {
    font-size: 28px;
    letter-spacing: 4px;
  }
}

.titleDates {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 8px;
  color: $primary-gold-text-color;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 300ms ease;

  @include media-breakpoint-down(xl) {
    font-size: 14px;
    letter-spacing: 6px;
  }
}

.decorated_letter {
  color: $primary-gold-text-color;
}
