@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  position: sticky;
  top: 40px;
  height: max-content;
  justify-self: right;

  @include media-breakpoint-down(xl) {
    display: none;
  }

  .linksBox {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .link {
      font-family: "Rubik", sans-serif;
      color: black;
      text-decoration: none;
      font-weight: 400;
      font-size: 18px;
      transition: transform 200ms ease;
      letter-spacing: 0.5px;

      &:hover {
        transform: translateX(2px);
      }
    }
  }

  .title {
    font-family: "Rubik", sans-serif;
    color: $gold;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.75px;
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: $gold;
  }
}
