@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
  max-height: 87vh;
  // overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-down(xl) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0;
  }
}
