@import "/src/assets/css/common.scss";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  overflow-x: auto;
  padding: 0 35px;

  @include media-breakpoint-down(FHD) {
    // overflow-x: auto;
    // grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }

  @include media-breakpoint-down(xl) {
    // grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    gap: 0;
  }
}
