@import "/src/assets/css/common.scss";

.wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include breakpoint(xl) {
    gap: 15px;
  }

  @include breakpoint(xs) {
    column-gap: 12px;
    row-gap: 2px;
    margin-bottom: 10px;
  }
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 150ms ease;
  padding: 0;

  &:hover &__text {
    color: $grey;
    border-bottom: 2px dotted $grey
  }

  &:active {
    transform: translateY(4px);
  }

  &__text {
    border-bottom: 2px dotted black;
    transition: all 250ms ease;

    &_animated {
      animation: anim 1800ms linear infinite;

      @keyframes anim {
        from {
          color: black;
          border-bottom: 2px dotted black;
        }
        50% {
          color: $gold;
          border-bottom: 2px dotted rgb(219, 157, 42);
        }
        to {
          color: black;
          border-bottom: 2px dotted black;
        }
      }
    }
  }
}
