@import "/src/assets/css/common.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.contentBox {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

  @include media-breakpoint-down(xl) {
    grid-gap: 12px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
  }

  &_large {
    grid-template-columns: 1fr 1fr 1fr;

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
    }

    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr;
      grid-gap: 9px;
    }
  }
}

.yearBox {
  margin-right: 15px;
  width: 35px;
  border-right: 2px solid black;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(FHD) {
    margin-right: 12px;
    width: 27px;
  }

  @include media-breakpoint-down(xl) {
    margin-right: 12px;
    width: 23px;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 7px;
    width: 17px;
  }
}

.yearText {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: $black;
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  @include media-breakpoint-down(FHD) {
    font-size: 22px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
}
