@import "/src/assets/css/common.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  min-height: 30px;
  padding: 0 1.95vh;
  // width: max-content;
  // border-radius: 2vh;
  background-color: transparent;
  border-radius: 0.4vh;
  border: none;
  cursor: pointer;
  transition: transform 70ms ease, background-color 250ms ease;

  @include media-breakpoint-down(xl) {
    // max-height: 30px;
  }

  @include media-breakpoint-down(lg) {
    // min-height: 25px;
  }

  &:active {
    transform: translateY(0.1vh);
  }
}

.gold {
  background-color: $gold;
  border: 1px solid $gold;
}

.blue {
  background-color: $blue;
  border: 1px solid $blue;

  &:hover {
    // background-color: #1a6ab9;
  }
}

.grey {
  background-color: $grey;
}

.red {
  background-color: rgb(168, 94, 94);
}

.large {
  height: 4vh;
}

.outlined {
  background-color: transparent;
}
