@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
  min-width: 400px;
  max-width: 430px;
  // background-color: rgb(239, 240, 247);
  // padding: 25px 15px;
  // border-radius: 5px;

  @include breakpoint(FHD) {
    min-width: auto;
    width: 325px;
    margin-bottom: 20px;
  }

  @include breakpoint(xl) {
    width: 290px;
    margin-bottom: 23px;
    gap: 10px;
  }

  @include breakpoint(md) {
    width: 300px;
  }

  @include breakpoint(md) {
    width: 300px;
  }

  @include breakpoint(sm) {
    width: auto;
  }

  @include breakpoint(xs) {
    width: auto;
    gap: 10px;
    width: 100%;
    background-color: rgb(239, 240, 247);
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include breakpoint(xl) {
    gap: 10px;
  }

  @include breakpoint(xs) {
    gap: 9px;
  }
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.75px;
  color: $black;
  margin: 0 auto;

  @include breakpoint(FHD) {
    letter-spacing: normal;
    font-size: 22px;
  }

  @include breakpoint(xl) {
    font-size: 19px;
  }

  @include breakpoint(lg) {
  }

  @include breakpoint(sm) {
    font-size: 18px;
  }

  @include breakpoint(xs) {
    font-size: 17px;
    margin: 0 auto;
  }
}
