@import "/src/assets/css/common.scss";

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1px;
  color: $black;
  margin-bottom: 25px;

  @include breakpoint(xl) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @include breakpoint(lg) {
    font-size: 31px;
  }

  @include breakpoint(sm) {
    font-size: 28px;
  }

  @include breakpoint(xs) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @include breakpoint(xxs) {
    font-size: 20px;
    line-height: 16px;
  }
}

.centered {
  margin: 0 auto;
  text-align: center;
}
