@import "/src/assets/css/common.scss";

.root {
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @include breakpoint(xl) {
    grid-gap: 15px;
  }

  @include breakpoint(lg) {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }

  @include breakpoint(xs) {
    row-gap: 15px;
  }
}
