@import "/src/assets/css/main.scss";

.root {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $primary-dark-text-color;
  line-height: 32px;
  margin: 0;

  @include media-breakpoint-down(xl) {
    font-size: 17px;
    line-height: 30px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 15px;
    line-height: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.bold {
  font-weight: 500;
}
