@import "/src/assets/css/common.scss";

.root {
  aspect-ratio: 2.2 / 1;
  width: 100%;
  border-radius: 2px;
  position: relative;
  text-decoration: none;
  transition: transform 300ms ease;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 0px 30px 0px rgba(36, 39, 42, 0.3);

  @include media-breakpoint-down(xl) {
    // height: 300px;
    // height: 300px;
  }

  @include media-breakpoint-down(lg) {
    height: 290px;
  }

  @include media-breakpoint-down(md) {
    height: 280px;
  }

  @include media-breakpoint-down(sm) {
    height: 270px;
  }

  @include media-breakpoint-down(xs) {
    // border-radius: 0;
    height: 220px;
  }

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000000);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background-color 300ms ease;
  }

  &:hover::after {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  &:hover .separator {
    width: 100%;
  }

  &:hover .title {
    color: $primary-gold-text-color;
  }

  &:hover .backgroundWrapper {
    transform: scale(1.1);
  }
}

.backgroundWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 300ms ease;
  z-index: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  padding: 30px 20px;
  z-index: 3;

  @include media-breakpoint-down(xl) {
    gap: 11px;
    padding: 20px 16px;
  }

  @include media-breakpoint-down(lg) {
    padding: 25px 18px;
  }

  @include media-breakpoint-down(sm) {
    gap: 10px;
    padding: 18px 13px;
  }

  @include media-breakpoint-down(xs) {
    gap: 8px;
  }
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: $primary-light-text-color;
  letter-spacing: 1px;
  transition: color 300ms ease;

  @include media-breakpoint-down(xl) {
    // font-size: 23px;
    font-size: 20px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 19px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
}

.description {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: $primary-light-text-color;
  letter-spacing: 1px;

  @include media-breakpoint-down(xl) {
    font-size: 15px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}

.separator {
  height: 3px;
  width: 80px;
  background-color: rgb(238, 226, 226);
  transition: width 300ms ease;

  @include media-breakpoint-down(xl) {
    height: 2px;
  }

  @include media-breakpoint-down(lg) {
    height: 3px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 2px;
  }

  @include media-breakpoint-down(xs) {
    height: 1px;
  }
}
