@import "/src/assets/css/common.scss";

.root {
}

.title {
  width: 100%;
}

.box {
  margin-bottom: 45px;
  width: max-content;

  @include media-breakpoint-down(xs) {
    margin-bottom: 25px;
  }
}

.test {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-down(FHD) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
