@import "/src/assets/css/common.scss";

.root {
}

.title {
  width: 100%;
}

.box {
  margin-bottom: 45px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 25px;
  }
}

// %btn {
//   position: absolute;
//   height: 100%;
//   top: 0;
//   width: 25px;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .left {
//   @extend %btn;
//   left: 0;
// }

// .right {
//   @extend %btn;
//   right: 0;
// }
