@import "/src/assets/css/main.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  // min-height: 220px;
  height: 100%;
}

.yearBox {
  margin-right: 15px;
  width: 35px;
  border-right: 2px solid black;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(xl) {
    margin-right: 12px;
    width: 23px;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 7px;
    width: 17px;
  }
}

.yearText {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: $primary-dark-text-color;
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  @include media-breakpoint-down(xl) {
    font-size: 20px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
}

.contentBox {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

  @include media-breakpoint-down(xl) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  @include media-breakpoint-down(sm) {
    grid-gap: 8px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
