@import "/src/assets/css/common.scss";

// .weaponCardsWrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;

//   @include media-breakpoint-down(xl) {
//     gap: 15px;
//   }

//   @include media-breakpoint-down(md) {
//     gap: 15px;
//   }
// }

.weaponCardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;

  @include media-breakpoint-down(xl) {
    grid-gap: 15px;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.box1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
