@import "/src/assets/css/common.scss";

.flagsWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.7vmax;
  grid-row-gap: 1.38vh;

  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(7, 1fr);
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vmax;
    grid-column-gap: 15px;
  }

  @include media-breakpoint-down(xxs) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
  }
}
