@import "/src/assets/css/common.scss";

.flagsWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 15px;

  @include breakpoint(FHD) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(7, 1fr);
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint(xs) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vmax;
    grid-column-gap: 15px;
  }

  @include breakpoint(xxs) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
  }
}
