@import "/src/assets/css/common.scss";

.flagsWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 18px;

  @include media-breakpoint-down(FHD) {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
  }

  @include media-breakpoint-down(xl) {
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
    grid-row-gap: 10px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 10px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 7px;
  }
}
