@import "/src/assets/css/common.scss";

.root {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  transition: transform 200ms ease;

  &:last-child {
    border-bottom: none;
  }

  @include media-breakpoint-down(xs) {
    line-height: 0px;
  }
}

%text {
  line-height: 26px;

  @include media-breakpoint-down(FHD) {
    line-height: 23px;
    font-size: 17px;
  }

  @include media-breakpoint-down(xl) {
    line-height: 22px;
    font-size: 15px;
  }

  @include media-breakpoint-down(xs) {
    flex-grow: 1;
    line-height: 22px;
  }
}

.criteria {
  @extend %text;
  max-width: 65%;

  @include media-breakpoint-down(xs) {
    flex-grow: 1;
  }
}

.value {
  @extend %text;
  max-width: 65%;
  text-align: right;
  white-space: pre-line;
}
