@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
  min-width: 400px;
  width: 100%;

  @include media-breakpoint-down(FHD) {
    min-width: 350px;
  }

  @include media-breakpoint-down(xl) {
    min-width: 315px;
  }

  @include media-breakpoint-down(md) {
    min-width: 300px;
    margin-bottom: 25px;
  }

  @include media-breakpoint-down(md) {
    min-width: 300px;
    margin-bottom: 25px;
  }

  @include media-breakpoint-down(sm) {
    min-width: auto;
  }

  @include media-breakpoint-down(xs) {
    min-width: auto;
    gap: 5px;
    width: 100%;
    background-color: rgb(240, 246, 246);
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media-breakpoint-down(xl) {
    gap: 10px;
  }

  @include media-breakpoint-down(xs) {
    gap: 9px;
  }
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 27px;
  letter-spacing: 1px;
  color: $primary-dark-text-color;
  margin: 0 auto;

  @include media-breakpoint-down(xl) {
    letter-spacing: 0.75px;
    font-size: 25px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 21px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 18px;
    margin: 0 auto;
  }
}
