@import "/src/assets/css/common.scss";

.frameBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  @include breakpoint(xl) {
    grid-gap: 12px;
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  @include breakpoint(xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.video {
  aspect-ratio: 1.77 / 1;
  width: 100%;
  border-radius: 5px;

  @include breakpoint(xs) {
    height: auto;
  }
}
