@import "/src/assets/css/main.scss";

.frameBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.video {
  height: 280px;
  width: 100%;
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    height: auto;
    aspect-ratio: 1.77 / 1;
  }
}
