@import "/src/assets/css/main.scss";

.frameBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;

  @include media-breakpoint-down(xl) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
    // grid-gap: 2px;
  }
}

.video {
  aspect-ratio: 1.77 / 1;
  width: 100%;
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    height: auto;
    // aspect-ratio: 1.77 / 1;
  }
}
