@import "/src/assets/css/common.scss";

.root {
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media-breakpoint-down(xl) {
    gap: 25px;
  }

  @include media-breakpoint-down(md) {
    gap: 23px;
  }

  @include media-breakpoint-down(sm) {
    gap: 21px;
  }

  @include media-breakpoint-down(xs) {
    gap: 20px;
  }
}
