@import "/src/assets/css/main.scss";

.root {
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__string {
    display: flex;
    gap: 15px;
  }

  &__titleBox {
    min-width: 100px;
  }
}

.specialLogoStyle {
  margin-top: 7vh;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-breakpoint-down(md) {
    gap: 30px;
  }

  @include media-breakpoint-down(sm) {
    gap: 25px;
  }

  @include media-breakpoint-down(xs) {
    gap: 20px;
  }
}
