@import "/src/assets/css/main.scss";

.root {
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1500px) {
    max-width: 960px;
  }

  @include media-breakpoint-down(xl) {
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
  }
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-breakpoint-down(xs) {
    gap: 20px;
  }
}

.paragraphsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media-breakpoint-down(xs) {
    gap: 20px;
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  // font-family: "Rubik", sans-serif;
  // font-weight: 300;
  // letter-spacing: 0.25px;
  font-size: 45px;
  color: $primary-gold-text-color;
  position: relative;
  margin: 0 auto 15px;
  white-space: normal;
  text-align: center;

  @include media-breakpoint-down(xs) {
    font-size: 28px;
    margin: 0 auto;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      #fff 0%,
      $primary-gold-text-color 15%,
      $primary-gold-text-color 85%,
      #fff 100%
    );
    top: calc(100% + 15px);
    left: 0;

    @include media-breakpoint-down(xs) {
      height: 1px;
      top: calc(100% + 7px);
    }
  }
}

.text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $primary-dark-text-color;
  font-stretch: 100%;
  line-height: 35px;

  @include media-breakpoint-down(xs) {
    font-size: 15px;
    line-height: 26px;
  }

  &_bolder {
    font-weight: 500;
  }
}

.specialLogoStyle {
  margin-top: 7vh;
}
