@import "/src/assets/css/common.scss";

.root {
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include breakpoint(xl) {
    gap: 25px;
  }

  @include breakpoint(md) {
    gap: 23px;
  }

  @include breakpoint(sm) {
    gap: 21px;
  }

  @include breakpoint(xs) {
    gap: 20px;
  }

  @include breakpoint(xxs) {
    gap: 13px;
  }
}
