@import "/src/assets/css/main.scss";

.default {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 2000px) {
    // max-width: 1450px;
  }

  @media screen and (max-width: 1500px) {
    width: 100%;
    max-width: 960px;
    // width: 960px;
  }

  @include media-breakpoint-down(xl) {
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
  }
}

.article {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1500px) {
    max-width: 960px;
  }

  @include media-breakpoint-down(xl) {
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
  }
}
