@import "/src/assets/css/common.scss";

.default {
  width: 1450px;
  margin: 0 auto;

  @media screen and (max-width: 2000px) {
    width: 1075px;
  }

  @include media-breakpoint-down(xl) {
    width: 960px;
  }

  @include media-breakpoint-down(lg) {
    // width: 100%;
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.aside {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-column-gap: 85px;

  @media screen and (max-width: 2000px) {
    grid-column-gap: 65px;
  }

  @include media-breakpoint-down(xl) {
    display: block;
    width: 100%;
  }
}
