@import "/src/assets/css/common.scss";

.root {
  margin-bottom: 25px;

  @include media-breakpoint-down(FHD) {
    margin-bottom: 22px;
  }

  @include media-breakpoint-down(xl) {
    margin-bottom: 17px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_bolder {
    font-weight: 500;
  }

  &_noMargin {
    margin: 0;
  }
}
