@import "/src/assets/css/common.scss";

.root {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 10;
}

.wrapper {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 45%;
  max-height: 100px;
  aspect-ratio: 1 / 1;

  &_overlapping {
    z-index: 1;
  }

  &_dependsOnWidth {
    height: auto;
    width: 45%;
  }
}

@keyframes lds-dual-ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white {
  &::after {
    content: " ";
    display: block;
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 50%;
    border: 0.5vh solid black;
    border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
    animation: lds-dual-ring 1.2s linear infinite;

    @include breakpoint(md) {
      border-width: 2px;
    }
  }
}

.black {
  &::after {
    content: " ";
    display: block;
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;

    @include breakpoint(md) {
      border-width: 2px;
    }
  }
}
