Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
<ifModule mod_headers.c>
    Header set Content-Security-Policy «default-src ‘self'»
</ifModule>
