@import "/src/assets/css/common.scss";

.root {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 33px;
  letter-spacing: 1px;
  color: $black;
  margin-bottom: 25px;

  @include breakpoint(FHD) {
    font-size: 30px;
  }

  @include breakpoint(xl) {
    font-size: 23px;
    margin-bottom: 17px;
  }

  @include breakpoint(lg) {
    font-size: 22px;
  }

  @include breakpoint(sm) {
    font-size: 21px;
  }

  @include breakpoint(xs) {
    font-size: 19px;
    margin-bottom: 15px;
  }

  @include breakpoint(xxs) {
    font-size: 17px;
    line-height: 13px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}
