@import "/src/assets/css/common.scss";

.root {
  display: flex;
  align-items: center;
  height: 3vh;
  min-height: 25px;
  padding: 0 1.73vh;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  transition: transform 150ms ease;

  @include media-breakpoint-down(xl) {
    max-height: 30px;
  }

  &:active {
    transform: translateY(0.12vh);
  }
}

.grey {
  background-color: $grey;
}

.gold {
  background-color: $gold;
}
