@import "/src/assets/css/main.scss";

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 1px;
  color: $primary-dark-text-color;
  margin-bottom: 40px;

  @include media-breakpoint-down(lg) {
    font-size: 31px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.noMargin {
  margin-bottom: 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
}
