@import "/src/assets/css/common.scss";

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 1px;
  color: $primary-dark-text-color;
  margin-bottom: 30px;

  @include media-breakpoint-down(FHD) {
    font-size: 36px;
    margin-bottom: 35px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 31px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.noMargin {
  margin-bottom: 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
}
