@import "/src/assets/css/main.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    width: 90%;
  }

  @include media-breakpoint-down(xs) {
    gap: 10px;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: $primary-gold-text-color;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media-breakpoint-down(lg) {
      font-size: 33px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 25px;
      letter-spacing: 2px;
    }
  }

  &__stripe {
    width: 150px;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(219, 157, 42, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );

    @include media-breakpoint-down(sm) {
      flex-grow: 1;
    }

    @include media-breakpoint-down(xs) {
    }
  }

  &__stripeLeft {
    transform: scaleX(-1);
  }
}
