@import "/src/assets/css/common.scss";

.root {
  margin-bottom: 20px;

  @include breakpoint(FHD) {
    margin-bottom: 15px;
  }

  @include breakpoint(xl) {
    margin-bottom: 12px;
  }

  @include breakpoint(xs) {
    margin-bottom: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_bolder {
    font-weight: 500;
  }

  &_noMargin {
    margin: 0;
  }
}
