@import "/src/assets/css/common.scss";

.root {
}

.infographic {
  overflow: auto;
  margin-bottom: 25px;
  padding: 30px 2px 15px;

  .section1 {
    position: relative;
    // height: 440px;
    height: 35vh;
    display: flex;
    column-gap: 12px;
    margin-bottom: 23px;
    width: max-content;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 9px);
      height: 2px;
      background-color: gray;

      @include media-breakpoint-down(xl) {
        height: 2px;
        top: calc(100% + 6px);
      }
    }

    @include media-breakpoint-down(xl) {
      column-gap: 7px;
      margin-bottom: 12px;
    }
  }

  .section2 {
    display: flex;
    column-gap: 12px;

    @include media-breakpoint-down(xl) {
      column-gap: 7px;
    }
  }

  .nameBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;

    @include media-breakpoint-down(xl) {
      width: 38px;
    }

    &:hover .name {
      transform: rotate(270deg);
      color: $primary-gold-text-color;
    }

    .name {
      text-decoration: none;
      writing-mode: vertical-rl;
      transform: rotate(220deg);
      text-align: center;
      font-size: 18px;
      line-height: 18px;
      height: 100px;
      transition: 250ms ease;

      @include media-breakpoint-down(xl) {
        font-size: 12px;
        line-height: 10px;
        height: 60px;
      }
    }
  }

  .diagramBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
    text-decoration: none;
    transition: transform 200ms ease;

    &:hover {
      transform: translateY(-3px);
    }

    .value {
      position: absolute;
      bottom: calc(100% + 2px);
      transform: translateX(-50%);
      left: 50%;
      color: $primary-gold-text-color;
      font-size: 17px;
      line-height: normal;

      @include media-breakpoint-down(xl) {
        font-size: 12px;
      }
    }

    .column {
      position: relative;
      width: 55px;
      transition: height 350ms ease;
      background: linear-gradient(#9ea4e8, gray);
      box-shadow: 3px 2px 3px rgb(70, 109, 124);
      border-radius: 2px;
      height: 0%;
      min-height: 1px;

      @include media-breakpoint-down(xl) {
        width: 38px;
      }
    }
  }
}
