@import "/src/assets/css/common.scss";

.root {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  user-select: none;
  transform: scale(0);

  &_open {
    transform: scale(1);
  }

  &_open .dialog {
    transform: translate(-50%, -50%);
  }
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 1200%);
  transition: transform 200ms ease;
}
