@import "/src/assets/css/common.scss";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.link {
  text-decoration: none;
}

.model {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  &:hover .photo {
    transform: translateY(-5px);
  }

  &:hover .title {
    color: $blue-1;
  }
}

.photo {
  aspect-ratio: 1.4 / 1;
  object-fit: contain;
  width: 100%;
  transition: transform 250ms ease;
}

.title {
  text-align: center;
  transition: color 150ms ease;
  line-height: 25px;
  font-size: 20px;

  @include breakpoint(FHD) {
    font-size: 17px;
    line-height: 22px;
  }

  @include breakpoint(xl) {
    font-size: 15px;
    line-height: 20px;
  }

  @include breakpoint(md) {
    font-size: 14px;
    line-height: 17px;
  }

  @include breakpoint(xs) {
    font-size: 13px;
    line-height: 15px;
  }
}
