@import "/src/assets/css/main.scss";

.root {
  display: flex;
  align-items: center;
  gap: 25px;

  @include media-breakpoint-down(xl) {
    gap: 20px;
  }

  @include media-breakpoint-down(md) {
    gap: 17px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.rootTypeBurger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: 25px;
  margin-top: 50px;
}

.rootTypeBurger .link {
  letter-spacing: 3px;
}

.link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  color: $primary-light-text-color;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  height: 100%;
  transition: color 300ms ease, transform 250ms ease;
  position: relative;
  height: max-content;

  @include media-breakpoint-down(xl) {
    font-size: 17px;
  }

  &_active {
    color: $primary-gold-text-color;
  }

  &:hover {
    color: $primary-gold-text-color;
  }

  &:active {
    transform: translateY(5px);
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(100% + 8px);
    left: -2px;
    width: 100%;
    height: 2px;
    background: $primary-gold-text-color;
    transform: scaleX(0);
    transition: transform 250ms ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.musicBox {
  display: flex;
  gap: 2px;
  align-items: center;
}
