@import "/src/assets/css/common.scss";

.root {
  position: fixed;
  width: max-content;
  height: max-content;
  right: 1%;
  bottom: 1vh;
  height: 8vh;
  border: none;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../../assets/images/up-button/up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
  cursor: pointer;
  transform: translateY(200px);
  transition: 300ms transform;

  &:hover {
    transform: scale(1.03);
  }

  @include breakpoint(md) {
    display: none;
  }
}

.visible {
  transform: translateY(0);
}
