@import "/src/assets/css/common.scss";

.root {
  height: 4px;
  background: $primary-gold-text-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @include media-breakpoint-down(sm) {
    height: 5px;
  }
}
