@import "/src/assets/css/common.scss";

.default {
  width: 1450px;
  margin: 0 auto;

  @include breakpoint(FHD) {
    width: 1075px;
  }

  @include breakpoint(xl) {
    width: 960px;
  }

  @include breakpoint(lg) {
    // width: 100%;
  }

  @include breakpoint(md) {
    width: 100%;
  }
}

.wide {
  margin: 0 auto;
  width: 98%;

  @include breakpoint(lg) {
    width: 100%;
  }
}

.aside {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 450px auto 450px;
  grid-column-gap: 65px;

  @include breakpoint(FHD) {
    grid-template-columns: 325px auto 325px;
    grid-column-gap: 55px;
  }

  // @media screen and (max-width: 2000px) {
  //   grid-column-gap: 65px;
  // }

  @include breakpoint(xl) {
    display: block;
    width: 100%;
  }
}
