@import "/src/assets/css/common.scss";

.root {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  transition: transform 200ms ease;

  &:last-child {
    border-bottom: none;
  }

  @include breakpoint(xs) {
    line-height: 0px;
  }
}

%text {
  line-height: 23px;
  font-size: 18px;

  @include breakpoint(FHD) {
    line-height: 21px;
    font-size: 16px;
  }

  @include breakpoint(xl) {
    line-height: 19px;
    font-size: 14px;
  }

  @include breakpoint(xs) {
    flex-grow: 1;
    line-height: 18px;
  }
}

.criteria {
  @extend %text;
  max-width: 65%;

  @include breakpoint(xs) {
    flex-grow: 1;
  }
}

.value {
  @extend %text;
  max-width: 65%;
  text-align: right;
  white-space: pre-line;
}
