@import "/src/assets/css/common.scss";

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  @include media-breakpoint-down(xs) {
    gap: 5px;
  }

  &:hover .link {
    color: $gold;
  }
}

.earthIcon {
  aspect-ratio: 1 / 1;
  height: 2.5vh;

  @include media-breakpoint-down(lg) {
    height: 20px;
  }
}
