@import "/src/assets/css/main.scss";

.root {
  height: 80px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(xl) {
    flex-direction: column;
    height: auto;
    padding: 25px 0;
    row-gap: 15px;
  }

  @include media-breakpoint-down(sm) {
    // position: fixed;
    // left: 0;
    // top: 0;
  }
}
