@import "/src/assets/css/main.scss";

.root {
  text-decoration: none;

  &:hover .text {
    color: $primary-gold-text-color;
  }
}

.text {
  text-align: center;
  transition: color 400ms ease;
}

.flag {
  border-radius: 4px;
  height: 160px;
  aspect-ratio: 5 / 3;
  position: relative;
  z-index: 0;
  text-decoration: none;
  transition: transform 300ms ease;
  box-shadow: 0px 0px 30px 0px rgba(36, 39, 42, 0.3);
  margin-bottom: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 400 ease;
  z-index: 0;

  @include media-breakpoint-down(FHD) {
    height: 120px;
  }

  @include media-breakpoint-down(xl) {
    height: 105px;
    margin-bottom: 7px;
  }

  @include media-breakpoint-down(lg) {
    height: 100px;
    box-shadow: 0px 0px 10px 0px rgba(36, 39, 42, 0.3);
  }

  @include media-breakpoint-down(sm) {
    border-radius: 2px;
    height: 90px;
    margin-bottom: 5px;
  }

  @include media-breakpoint-down(xs) {
    height: 80px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background-color 400ms ease;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:hover::after {
    background-color: rgba($color: #000000, $alpha: 0.25);
  }
}

.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  position: relative;
  padding: 35px 50px;
  z-index: 3;
}
