@import "/src/assets/css/common.scss";

.root {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include media-breakpoint-down(xl) {
    gap: 15px;
  }

  @include media-breakpoint-down(xs) {
    column-gap: 12px;
    row-gap: 2px;
    margin-bottom: 10px;
  }
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 150ms ease;
  padding: 0;

  &_animated {
    animation: anim 2500ms linear infinite;

    @keyframes anim {
      from {
        color: black;
        border-bottom: 2px dotted black;
      }
      50% {
        color: $primary-gold-text-color;
        border-bottom: 2px dotted rgb(219, 157, 42);
      }
      to {
        color: black;
        border-bottom: 2px dotted black;
      }
    }
  }

  &:hover &__text {
    color: $grey-text-color;
    border-bottom: 2px dotted $grey-text-color;
  }

  &:active {
    transform: translateY(4px);
  }

  &__text {
    border-bottom: 2px dotted black;
    transition: all 250ms ease;
  }
}
