@import "/src/assets/css/common.scss";

.root {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include media-breakpoint-down(xs) {
    gap: 5px;
    margin-bottom: 10px;
  }
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: transform 150ms ease;

  &:active {
    transform: translateY(2px);
  }

  &__text {
    border-bottom: 2px dotted black;
  }
}
