@import "/src/assets/css/main.scss";

.root {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-column-gap: 85px;

  @media screen and (max-width: 2000px) {
    grid-column-gap: 65px;
  }

  @include media-breakpoint-down(xl) {
    display: block;
    width: 100%;
  }
}

.side {
  @include media-breakpoint-down(xl) {
    display: none;
  }
}
