@import "/src/assets/css/common.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  user-select: none;
  transform: scale(0);

  &_open {
    transform: scale(1);
  }
}

.counter {
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  color: white;
}

.image {
  width: 75%;
  max-height: 90%;
  object-fit: contain;
  // transform: scale(0);
  transform: translateY(300%);
  transition: transform 350ms ease;

  @include media-breakpoint-down(lg) {
    width: 87%;
  }

  @include media-breakpoint-down(md) {
    // width: 92.5%;
    max-height: 80%;
  }

  &_open {
    // transform: scale(1);
    transform: translateY(0);
  }
}

.closeButton {
  position: absolute;
  right: 2%;
  top: 3%;
  height: 7%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 150ms ease;

  @include media-breakpoint-down(lg) {
    top: 15px;
    right: 15px;
    height: 7%;
  }

  &:hover {
    background-color: rgb(16, 16, 16);
  }

  &_icon {
    height: 65%;
    aspect-ratio: 1 / 1;
    background-image: url(../../assets/images/cross.svg);
    background-size: cover;
  }
}

.switchButton {
  position: absolute;
  height: 35%;
  width: 7%;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 150ms ease;
  cursor: pointer;
  user-select: none;

  &:hover &_arrow {
    transform: scale(1.1) rotate(90deg);

    @include media-breakpoint-down(md) {
      transform: rotate(90deg);
    }
  }

  &_arrow {
    background-image: url("../../assets/images/vector-white.svg");
    background-size: cover;
    aspect-ratio: 1.8 / 1;
    width: 45%;
    transform: rotate(90deg);
    background-color: transparent;
    border: none;
    transition: transform 200ms;

    @include media-breakpoint-down(md) {
      width: 70%;
    }
  }
}

.switchButton_left {
  @extend .switchButton;
  transform: rotate(180deg);
  left: 1%;

  @include media-breakpoint-down(md) {
    left: 0;
  }

  &:active {
    transform: translateY(-2px) rotate(180deg);
  }
}

.switchButton_right {
  @extend .switchButton;
  right: 1%;

  @include media-breakpoint-down(md) {
    right: 0;
  }

  &:active {
    transform: translateY(-2px);
  }
}
