@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  border: 1px solid black;
  border-radius: 3px;
  min-height: 40px;

  @include breakpoint(xl) {
    min-height: 35px;
  }

  @include breakpoint(xs) {
    padding: 0px 7px;
  }

  &:focus {
    border: 2px solid black;
  }
}

.dark {
  border: 1px solid rgb(198, 181, 181);

  & .input {
    color: rgb(198, 181, 181);
  }

  & .icon {
    filter: invert(85%);
  }
}

.input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  width: 170px;
  flex-grow: 1;

  @include breakpoint(FHD) {
    width: 150px;
  }

  @include breakpoint(xl) {
    width: 140px;
  }

  @include breakpoint(xs) {
    width: 100px;
  }
}

.icon {
  height: 20px;
  aspect-ratio: 1 / 1;
  background-image: url("../../../assets/images/input-search/magnifier.svg");
}
