@import "/src/assets/css/common.scss";

.root {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  user-select: none;
  transform: scale(0);

  &_open {
    transform: scale(1);
  }
}

.window {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 2vh 2%;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  background-color: black;
  border-radius: 5px;
  width: 65%;
  min-height: 30%;
  max-height: 70%;
  transform: translateY(350%) translateX(-50%);
  transition: transform 350ms ease;
  border: 2px solid $gold;
  transform: height 200ms ease;

  @include media-breakpoint-down(xl) {
    width: 75%;
  }

  @include media-breakpoint-down(md) {
    width: 85%;
    max-height: 85%;
    padding: 20px 20px;
    top: 10%;
  }

  &_open {
    transform: translateY(0) translateX(-50%);
  }

  .title {
    color: $gold;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
  }

  .search {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow: auto;

    .searchTheme {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .searchResultsWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        width: 100%;
        padding-top: 5px;

        @include media-breakpoint-down(md) {
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;
        }

        .item {
          display: flex;
          gap: 20px;
          height: 10.2vh;
          cursor: pointer;
          transition: all 200ms ease;
          text-decoration: none;
          will-change: transform;

          @include media-breakpoint-down(md) {
            gap: 10px;
          }

          &:hover {
            transform: translateY(-2px);
          }

          &__icon {
            aspect-ratio: 1.65 / 1;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
          }

          &__inforationWrapper {
            display: flex;
            flex-direction: column;
            gap: 2px;
          }
        }
      }
    }
  }
}

.closeButton {
  position: absolute;
  right: 2%;
  top: 3%;
  height: 7%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 150ms ease;

  @include media-breakpoint-down(lg) {
    top: 15px;
    right: 15px;
    height: 7%;
  }

  &:hover {
    background-color: rgb(16, 16, 16);
  }

  &_icon {
    height: 65%;
    aspect-ratio: 1 / 1;
    background-image: url(../../assets/images/cross.svg);
    background-size: cover;
  }
}
