@import "/src/assets/css/common.scss";

.root {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.444);
  }

  .video {
    position: relative;
    height: 100vh;
    width: 100%;

    &_half {
      height: 50vh;
    }

    &__media {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
