@import "/src/assets/css/main.scss";

.root {
  height: 50vh;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.55) 30%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 0;
  }
}

.background_articlesPage {
  background-image: url(../../assets/images/backgrounds/articles-section.jpg);
}
.background_weaponsPage {
  background-image: url(../../assets/images/backgrounds/weapons/bg.png);
}

.background_aviationPage {
  background-image: url(../../assets/images/backgrounds/weapons/aviation_2.jpg);
}
.background_armoredPage {
  background-image: url(../../assets/images/backgrounds/weapons/armored.jpg);
}
.background_smallArmsPage {
  background-image: url(../../assets/images/backgrounds/weapons/gun.jpg);
}
.background_artilleryPage {
  background-image: url(../../assets/images/backgrounds/weapons/artillery.jpg);
}
