@import "/src/assets/css/main.scss";

.root {
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 25px;

  @include media-breakpoint-down(xs) {
    row-gap: 15px;
  }
}
