@import "/src/assets/css/common.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 10px;
  user-select: none;

  @include media-breakpoint-down(xl) {
    row-gap: 7px;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 7px;
  }
}
