@import "/src/assets/css/common.scss";

.root {
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;

  @include media-breakpoint-down(sm) {
    gap: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    .photosWrapper {
      display: flex;
      gap: 1vh;
      margin-top: -0.6vh;

      .photo {
        height: 13vh;
        min-height: 100px;
        border-radius: 0.35vh;
        object-fit: cover;
        aspect-ratio: 1.7 / 1;
        cursor: pointer;
      }
    }

    .inputsWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }

      @include media-breakpoint-down(xxs) {
        // grid-template-columns: repeat(1, 1fr);
        // gap: 15px;
      }

      &_fullWidthFlex {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_fullWidth {
        display: block;
        width: 100%;
      }
    }
  }

  .test {
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
    width: 100%;
  }
}
