@import "/src/assets/css/common.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0 0 20px 30px;
  width: 28%;
  float: right;
  clear: right;
  cursor: pointer;

  @include media-breakpoint-down(xl) {
    width: 33%;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
    width: 40%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-left: 0;
  }

  &_fullWidth {
    width: 75%;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
      width: 90%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &:hover .title {
    color: $gold;
  }
}

.image {
  border-radius: 4px;
  width: 100%;
  object-fit: contain;
  transition: transform 250ms ease;

  @include media-breakpoint-down(xl) {
    border-radius: 2px;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 1px;
  }

  &:hover {
    // transform: scale(1.025);
  }
}

.title {
  text-align: center;
  line-height: 25px;
  color: $grey;
  transition: color 250ms ease;

  @include media-breakpoint-down(FHD) {
    line-height: 23px;
  }

  @include media-breakpoint-down(xl) {
    line-height: 20px;
  }

  @include media-breakpoint-down(sm) {
    line-height: 18px;
  }
}
