@import "/src/assets/css/common.scss";

.root {
  display: flex;
  align-items: center;
  gap: 0.5vw;

  @include breakpoint(lg) {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  @include breakpoint(sm) {
    display: none;
  }

  &_forBurger {
    display: flex;
    position: absolute;
    right: 0;
    top: 70px;
    gap: 7px;
  }
}
