@import "/src/assets/css/common.scss";

.root {
}

.separator {
  height: 1px;
  width: 100%;
  background-color: black;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3vh;
  margin-top: 2vh;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    @include media-breakpoint-down(xs) {
      // flex-direction: row;
    }

    .avatar {
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      height: 15vh;
      transition: transform 200ms ease;
      will-change: transform;
      cursor: pointer;

      @include media-breakpoint-down(xs) {
        height: 20vh;
        min-height: 150px;
      }
    }

    .buttonsBox {
      display: flex;
      flex-direction: column;
      gap: 0.5vh;
    }
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    @include media-breakpoint-down(sm) {
      gap: 20px;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1.5vh;

      .header {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(xs) {
          flex-direction: column;
        }
      }

      .inputsWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1vh;

        @include media-breakpoint-down(xl) {
          grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;
        }

        @include media-breakpoint-down(xxs) {
          gap: 10px;
        }

        &_fullWidth {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
