@import "/src/assets/css/common.scss";

.root {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4vh;
  margin-top: 2vh;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: black;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;

  .avatar {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 15vh;
    transition: transform 200ms ease;
    will-change: transform;
    cursor: pointer;
  }

  .buttonsBox {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;

  @include media-breakpoint-down(sm) {
    gap: 20px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .inputsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      @include media-breakpoint-down(xxs) {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
      }

      &_fullWidth {
        display: block;
        width: 100%;
      }
    }
  }
}
