@import "/src/assets/css/common.scss";

.root {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;

  @include media-breakpoint-down(xl) {
    grid-gap: 12px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
