@import "/src/assets/css/common.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .viewsBox {
    display: flex;
    gap: 5px;
    align-items: center;

    .eye {
      aspect-ratio: 1 / 1;
      height: 20px;
      background-image: url("../../../assets/images/eye.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
